{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    {#    <link rel="apple-touch-icon" sizes="76x76" href={% static 'assets/img/apple-icon.png' %}>#}
    {#    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">#}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        Game Of Troves
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!--     Fonts and icons     -->
    {#    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />#}
    {#    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">#}
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/Montserrat.css' %}" rel="stylesheet">
    <!-- CSS Files -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static  'assets/css/paper-dashboard.css' %}" rel="stylesheet"/>
    <!-- CSS Just for demo purpose, don't include it in your project -->
    {#    <link href="{% static 'assets/demo/demo.css' %}" rel="stylesheet" />#}
</head>

<body class="">
<div class="wrapper ">

    <div class="main-panel" style="width:100%;">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">

                    <a class="navbar-brand" href="#pablo">{% block title %}{% endblock %}</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">

                    <ul class="navbar-nav">
                        {% block navlink %}{% endblock %}

                        <li class="nav-item">
                            <a href="{% url 'contest:logout' %}" class="nav-link ">
                                <i class="nc-icon nc-single-02"></i>
                                <p>Logout</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <!-- <div class="panel-header panel-header-sm">


</div> -->

        <div class="content">
            {% if unread_message %}
                <div class="alert alert-primary alert-dismissible fade show" role="alert" id="mymessage"
                     data-id="{{ unread_message.id }}">
                    {{ unread_message.text }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            {% block content %} {% endblock %}
        </div>

        <footer class="footer footer-black  footer-white ">
            <div class="container-fluid">
                <div class="row">

                    <div class="credits ml-auto">
                        <span class="copyright">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>, made with <i class="fa fa-heart heart"></i> by NEO-DRISHTI WEB TEAM
                        </span>
                    </div>
                </div>
            </div>
        </footer>
        {#    </div>#}
    </div>
    <!--   Core JS Files   -->
    <script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>

    <!-- Chart JS -->
    <script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>
    <!--  Notifications Plugin    -->
    <script src="{% static  'assets/js/plugins/bootstrap-notify.js' %}"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="{% static 'assets/js/paper-dashboard.min.js' %}"></script>
    <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="{% static 'assets/demo/demo.js' %}"></script>
    <script type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        {#$.ajaxSetup({#}
        {#    beforeSend: function (xhr, settings) {#}
        {#        if (!this.crossDomain) {#}
        {#            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));#}
        {#        }#}
        {#    }#}
        {#});#}

        $('.alert').on('close.bs.alert', () => {
            console.log("This = ", this);
            var id = document.querySelector('#mymessage').dataset.id;
            $.ajax("{% url 'contest:read_message' %}", {
                beforeSend: function (xhr, settings) {
                if (!this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            },
                method: "POST",
                data: {
                    id: id
                }
            });
        });
    </script>
    {% block custom_script %}{% endblock %}
</body>

</html>
