{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Game Of Troves</title>
    <link rel="stylesheet" type="text/css" href="{% static 'b.css' %}">
</head>
<body>

<div class="form">
      
    <ul class="tab-group">
        <li class="tab {% if active == 'signup' %} active {% endif %}"><a href="#signup">Sign Up</a></li>
        <li class="tab {% if active == 'login' %} active {% endif %}"><a href="#login">Log In</a></li>
    </ul>
      
    <div class="tab-content">
        <div id="signup" {% if active != 'signup' %} style="display:none" {% endif %}>
            <h1>Sign Up</h1>
          
            <form action="{% url 'contest:signup' %}" method="post">
                {% csrf_token %}
                <div class="field-wrap">
                    {{ signupform.username.label_tag }}
                    {{ signupform.username }}
                </div>
                <div class="top-row">
                    <div class="field-wrap">
                        {{ signupform.first_name.label_tag}}
                        {{ signupform.first_name }}
                    </div>
        
                    <div class="field-wrap">
                        {{ signupform.last_name.label_tag}}
                        {{ signupform.last_name }}
                    </div>
                </div>

                <div class="field-wrap">
                    {{ signupform.email.label_tag }}
                    {{ signupform.email }}
                </div>

                <div class="field-wrap">
                    {{ signupform.college.label_tag }}
                    {{ signupform.college }}
                </div>
          
                <div class="field-wrap">
                    {{ signupform.password1.label_tag }}
                    {{ signupform.password1 }}
                </div>

                <div class="field-wrap">
                    {{ signupform.password2.label_tag }}
                    {{ signupform.password2 }}
                </div>
          
                <input type="submit" class="button button-block" value="Sign Up">
          
            </form>
            {% if signupform.errors %}
            {{ signupform.errors }}
            {% endif %}

        </div>
        
        <div id="login" {% if active == 'signup' %} style="display:none" {% endif %}>
            <h1>Welcome Back!</h1>
          
            <form method="post">
                {% csrf_token %}
          
                <div class="field-wrap">
                    <label>
                        {{ loginform.username.label_tag }}<span class="req">*</span>
                    </label>
                    {{ loginform.username }}
                </div>
          
                <div class="field-wrap">
                    <label>
                        {{ loginform.password.label_tag }}<span class="req">*</span>
                    </label>
                    {{ loginform.password }}
                </div>
          
                <p class="forgot"><a href="#">Forgot Password?</a></p>
                {% if loginform.errors %}
                    <p style="color:red"> {{loginform.non_field_errors}} </p>
                {% endif %}
                <input type="submit" value="Log In" class="button button-block">
          
            </form>


        </div>
        
    </div><!-- tab-content -->

</div> <!-- /form -->
<script	src="{% static 'js/core/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'f.js' %}"></script>

</body>
</html>