<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>Rank</td>
    <td> Username</td>
    <td>Points</td>
        <td>Time</td>
    </tr>
    </thead>
    {% for user in page_obj %}
        <tr>
        <td>{{ forloop.counter|add:start_num }}</td>
        <td>{{ user.username }}</td>
            <td>{{ user.points }}</td>
        <td>{{ user.get_extra_time }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>