{% extends 'contest/auth_base.html' %}
{% block content %}

    <ul class="tab-group">
        <li class="tab"><a href="{% url 'contest:signup' %}">Sign Up</a></li>
        <li class="tab active"><a href="#login">Log In</a></li>
    </ul>

    <div class="tab-content">
        <div id="login">
            <h1>Welcome Back!</h1>

            <form method="post">
                {% csrf_token %}

                <div class="field-wrap">
                    {% if not form.username.value %}
                        <label for="{{ form.username.id_for_label }}">

                            {{ form.username.label }}<span class="req">*</span>
                        </label>
                    {% endif %}
                    {{ form.username }}
                </div>

                <div class="field-wrap">
                    <label for="{{ form.password.id_for_label }}">
                        {{ form.password.label }}<span class="req">*</span>
                    </label>
                    {{ form.password }}
                </div>
                <p class="forgot"><a href="{% url 'contest:reset_password' %}">Forgot Password?</a></p>
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <p style="color:white"> {{ error }} </p>
                    {% endfor %}
                {% endif %}


                <input type="submit" value="Log In" class="button button-block">

            </form>


        </div>

    </div><!-- tab-content -->
{% endblock %}