{% extends 'contest/auth_base.html' %}
{% block content %}
    <div class="tab-content">
        <h1>Reset your password</h1>
        <p>Enter your account's verified email address and we will send you a password reset link.</p>
        <form method="post">
            {% csrf_token %}
            <div class="field-wrap">
                <label>Email</label>
                <input type="email" name="email">
            </div>
            <input type="submit" value="Send email" class="button">
        </form>
    </div>
{% endblock %}