{% extends 'contest/base.html' %}
{% block title %}
Rules
{% endblock %}
{% block active_rules%}
active
{% endblock %}
{% block content %}
    <div class="content">
    <div class="row">
					<div class="col-md-8 mx-auto d-block">
						<ul class="rule-list">
							<li>
							A question will be available at 10:00 PM everyday. No questions would be given on 25th, 30th, 31st of December and 1st of January.
							</li>
							<li>
							You will be allowed to answer that question till 12:00 PM of the subsequent day.
							</li>
							<li>
							The answer to the question asked would be disclosed the subsequent day at 5:00 PM.
							</li>
							<li>
							Question may be from any technical domain.
							</li>
							<li>
							If a question has subparts then all the subparts have to be answered together as one.
							</li>
							<li>Points are also rewarded for partial submissions.</li>
							<li>Hints for questions will be provided if required between 11:00 PM - 11:30 PM</li>
							<li>
							User may submit more than one answer (only the last one would be considered).
							</li>
							<li>
							Leaderboard would be updated at 7:00PM everyday.
							</li>
							<li>
							Participant need to submit their answer with breif explanation as some questions may have more than one way of solving.
							</li>
							<li>
							Participant quick enough to submit the precise and crisp answer to the question would be awarded with maximum points.
							</li>
							<li>
							Scoring Pattern
								<ul>
									<li>1st user to solve a question correctly will be awarded 5 points</li>
									<li>2nd user to solve a question correctly will be awarded 4 points</li>
									<li>3rd user to solve a question correctly will be awarded  3 points</li>
									<li>4th user to solve a question correctly will be awarded  2 points</li>
									<li>Rest all users to solve a question correctly will be awarded 1 point</li>
								</ul>
							</li>
							<li>Note: Decision of judges will not be subjective to any further scrutiny and will be final.</li>


				</ul>
					</div>
				</div>
    </div>

{% endblock %}